<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome,</h1>
    <p>
      this is Secret Santa service. In the attachment you will find instructions about your Christmas match.<br>
    </p>
    <p>Have fun!</p>
  </body>
</html>