<html>
  <head>
    <title>Secret Santa</title>
    <meta charset="utf-8">
  </head>
  <body style="margin: 50px auto; width: 700px; padding: 30px; background-color: #e3b3b6;">
    <header>
      <h1 style="text-align: center; margin: 50px auto;">Ho Ho Ho </h1>
      <h3 style="text-align: center; margin: 50px auto;">Do you want to create your own Secret Santa Group?</h3>
    </header>

    <div>
      <p style="width: 700px; margin: 20px auto; padding: 30px;
    background-color: #e6e8e6;">
    <strong><label for="name">Secret Santa Group Name:</label></strong>
    <input type="text" id="name" name="name" required> <br><br>
    <label for="name">Participant name:</label>
    <input type="text" id="name" name="name" required>
      <label for="name">Participant email:</label>
    <input type="email" id="email" name="email" required>
      </p>
    </div>

  </body>
</html>