<header>
  <h1 style="text-align: center; margin: 50px auto;">Ho Ho Ho </h1>
  <h3 style="text-align: center; margin: 50px auto;">Thanks! Your group has been created and they will be notified in a matter of minutes.</h3>
</header>