// Place all the styles related to the SecretSanta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "toastr";

body {
  font-family: 'Lato', sans-serif;
}

.main-header {
  text-align: center;
  margin: 50px auto;
}